body{
 	
    margin-left: 20px;
    margin-right: 20px;
}

table{
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 500px;
	padding-right: 500px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 Mei 14, 22:10:44
    Author     : Agus Edy Cahyono
*/

